
<div class="row">

    <div class="col-md-12">

        <div class="row">   


            <div class="col-md-3 widget-profil">
                <div class="row">

                    <!-- Profile Image -->
                    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12 ">

                        <div class="image-holder one" id="pic_prof_1"  style="display:none">

                            <img class="head-image up circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                            <img class="head-image up-left circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                            <img class="head-image left circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                            <img class="head-image down-left circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                            <img class="head-image down circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                            <img class="head-image down-right circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                            <img class="head-image right circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                            <img class="head-image up-right circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                            <img class="head-image front circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />

                        </div>

                        <!-- style for simple image profile -->		
                        <%= link_to image_tag(@user.avatar.url(:medium), class: "circle-img", id: "pic_prof_2"), @user, method: :get %>

                    </div>
                    <!-- End Profile Image -->

                    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">

                        <!-- Profile info -->
                        <div id="profile_info">
                            <h1 id="name" class="transition-02"><%= @user.full_name %></h1>
                            <% if !@user.city.nil? && !@user.state.nil? %>
                            <h6><i class="glyphicon glyphicon-map-marker"></i> <%= @user.city %>, <%= @user.state %></h6>
                            <% end %>
                            <% if current_user != @user %>
                            <h4 class="line"><%= button_to "Send a message", new_message_path(:user => @user), class: "btn btn-primary" %></h4>
                            <% end %>
                            <h4 class="line"></h4>
                        </div>
                        <!-- End Profile info -->  


                        <!-- Profile Description -->
                        <div id="profile_desc">
                            <b> About Me: </b>
                            <p>
                                <%= "#{@user.description}" %>
                            </p>
                        </div>
                        <!-- End Profile Description -->  


                        <!-- Name -->
                        <div id="profile_social">
                            <h6>Verified By:</h6>
                            <div class="clear"></div>
                        </div>
                        <!-- End Name -->  

                    </div>

                </div>
            </div>

            <div class="col-md-9 flexy_content" style="padding-left: 0;padding-right: 0;">

                <!-- verticalTab menu -->
                




                

                <div class="clear"></div>


                <div class="row" id="services">
                    <div class="col-md-12">
                        <div class="title_content">
                            <div class="text_content">Knacks</div>
                            <div class="clear"></div>
                        </div>
                        <% if @spaces.empty? %>
                        <br>
                        No knacks available.
                        <br><br>
                        <% else %>

                        <%= render "spaces/index/space_list" %>
                        <% end %>
                    </div> 
                </div><!-- End Services -->




                <!-- .resume -->




                <div style="clear: both"></div>  


                <!-- client reference -->
                <div class="row">
                    <div class="col-md-12">   

                        <div class="reference clearfix"> 

                            <!-- .title_content -->
                            <div class="title_content" style="margin-bottom:5px">
                                <div class="text_content">Comments</div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.title_content -->

                            <ul>
                                <% @comment.each do |comment| %>

                                <% if !comment.user_id.nil? && @user.id == comment.user_id %> 



                                <li class="clearfix">
                                    <% @user = User.find_by_id(comment.sender_id) %> 
                                    <%= link_to image_tag(@user.avatar.url(:medium), class: "img_reference", :style => "width: 100px; height: 100px;"), @user, method: :get %>
                                    <p>Posted: <%= (comment.created_at).strftime("%m/%d/%Y") %> </p>
                                    <p><i>“<%= comment.comment %>”</i></p>
                                    <span>
                                     <%= @user.full_name %></span>
                                 </li>
                                 <% end %>
                                 <% end %>
                             </ul>
                         </div>
                     </div>




                     <div style="clear: both"></div>   
                 </div>


                 
                 <!-- End .resume -->



                 
             </div><!-- End flexy_content -->


         </div><!-- End row -->

     </div><!-- End col-md-12 -->

 </div><!-- End row -->





