<section class="group sidebar right">


  <h4 class="sidebar-section-header" id="top-of-sidebar"><%= @space.title %></h4>
  <div class="sidebar-section group">
    <div class="price-wrapper">
      <div class="price-data dark-gray right">
        <sup class="left">$</sup>
        <%= @space.booking_rate_daily %>
      </div>
      <div class="dark-gray">per hour</div>
    </div>
  </div>

  <form action="<%= bookings_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


    <h4 class="sidebar-section-header">Begin Date</h4>
    <div class="sidebar-section group">
        <input type="date" name="booking[start_date]" class="date-input input-small sidebar-full-width">
    </div>
    <h4 class="sidebar-section-header">Begin Time</h4>
    <div class="sidebar-section group">

        <select type="text" name="booking_filters[start_hour]" id="space-bedroom-count">
          <% Booking.hour_intervals.each_with_index do |start_hour, index| %>
          <option value="<%= start_hour %>"><%= start_hour %></option>
          <% end %>
        </select>
        <select type="text" name="booking_filters[start_minute]" id="space-bedroom-count">
          <% Booking.minute_intervals.each_with_index do |start_minute, index| %>
          <option value="<%= start_minute %>"><%= start_minute %></option>
          <% end %>
        </select>
        <select type="text" name="booking_filters[start_ampm]" id="space-bedroom-count">
          <% Booking.ampm_intervals.each_with_index do |start_ampm, index| %>
          <option value="<%= start_ampm %>"><%= start_ampm %></option>
          <% end %>
        </select>
        <br>

    </div>
<!--
    <h4 class="sidebar-section-header">End Date</h4>
    <div class="sidebar-section group">
        <input type="date" name="booking[end_date]" class="date-input input-small sidebar-full-width" input-small sidebar-half-width>
    </div>
  -->
    <h4 class="sidebar-section-header">End Time</h4>
    <div class="sidebar-section group">

        <select type="text" name="booking_filters[end_hour]" id="space-bedroom-count">
          <% Booking.hour_intervals.each_with_index do |end_hour, index| %>
          <option value="<%= end_hour %>"><%= end_hour %></option>
          <% end %>
        </select>
        <select type="text" name="booking_filters[end_minute]" id="space-bedroom-count">
          <% Booking.minute_intervals.each_with_index do |end_minute, index| %>
          <option value="<%= end_minute %>"><%= end_minute %></option>
          <% end %>
        </select>
        <select type="text" name="booking_filters[end_ampm]" id="space-bedroom-count">
          <% Booking.ampm_intervals.each_with_index do |end_ampm, index| %>
          <option value="<%= end_ampm %>"><%= end_ampm %></option>
          <% end %>
        </select>
        <br>
    </div>

    <input type="hidden" name="booking[space_id]" value="<%= @space.token %>">

    <button type="submit" class="blue button" id="space-show-sidebar-book-button">Reserve</button>

  </form>

  <nav class="sidebar group">

    <h4 class="sidebar-section-header" id="top-of-booking-sidebar">The Host</h4>
    <div class="sidebar-section group">
      <% @user = User.find_by_id(@space.owner.id) %>
      <div id="owner-img"><%= link_to image_tag(@user.avatar.url(:medium), class: "user-image-medium"), @space.owner, method: :get %></div>

      <h3 id="space-show-owner-name"><%="#{@space.owner.first_name} "%><%="#{@space.owner.last_name}"%></h3>
    </div>

    <h4 class="sidebar-section-header sidebar-bottom"><h4>

  </nav>
</section>