<header id="space-show-header">
  <h2 id="space-show-title"> <%= best_in_place @space, :title %></h2>
<!-- TODO MOVE RATINGS -->
<!-- TODO ALLOW RATINGS TO ONLY OCCUR WHEN KNACK IS COMPLETE BY NEEDER -->
Rating:<br>
<%= rating_for @space, "rating", :star => 5 %>

  <h3 id="space-show-info">
    <% if signed_in? && current_user.id == @space.owner_id %>   
    <%= link_to 'Edit Knack', edit_space_path(@space) %>
    <% end %>
  </h3>
</header>

<section class="group non-sidebar">

  <section class="tab-box-wrapper group">
    <%= render "spaces/show/photos_map_calendar" %>
  </section>

  <section class="tab-box-wrapper group">
    <%= render "spaces/show/description_amenities_house_rules" %>
  </section>
</section>

<%= render "spaces/show/booking_sidebar" %>