

<body>
  <!-- ******HEADER****** --> 
  <header class="header">
    <div class="container">                       
      <% @user = User.find_by_id(@space.owner.id) %>
      <div class="profile-image img-responsive pull-left"><%= link_to image_tag(@user.avatar.url(:medium), class: "img-circle", :size => "200x200"), @space.owner, method: :get %></div>
      <div class="profile-content pull-left">
        <h1 class="name"><%= best_in_place @space, :title %></h1>
        <h2 class="desc"><%= @space.city %></h2> 

        <h3 class = "desc"> By: <%="#{@space.owner.first_name} "%><%="#{@space.owner.last_name}"%></h3>
        <h5 class="title">
          Rating: 
          <% @rate = Rate.find_by_rateable_id(@space.token) %>
          <% if !@rate.nil? %>
          <%= @rate.stars %>/5.0<br>
          <% else %>
          No ratings yet <br>
          <% end %> 
        </h5>
        <ul class="social list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>                   
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-github-alt"></i></a></li>                  

        </ul> 
      </div><!--//profile-->
      <div class="profile-content">
        <div class="name" style="padding-left: 1100px; padding-right: 5px;">$<%= @space.booking_rate_daily %><h5 class="title"> per hour</h5></div></div><br><br>

        <% if current_user != @user %>
        <i class="fa fa-paper-plane"></i><%= button_to "Send a message", new_message_path(:user => @user), class: "btn btn-primary pull-right" %></a>  
        <% end %>


        <% if current_admin || signed_in? && current_user.id == @space.owner_id %>   
        <%= link_to 'Edit Knack', edit_space_path(@space) %>
        <% end %>            
      </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
      <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
          <section class="about section">
            <div class="section-inner">
              <h2 class="heading">Description:</h2>
              <div class="content">
                <p><%= @space.description %>  </p>  

                            <%= render "spaces/show/photos_map_calendar" %>

              </div><!--//content-->
            </div><!--//section-inner-->                 
          </section><!--//section-->
        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">


          <aside class="education aside section">
            <div class="section-inner">
              <h2 class="heading">Booking Details</h2>
              <div class="content">
                <div class="item">                      


                  <form action="<%= bookings_url %>" method="post" class="form-inline">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                    <h3 class="title"><i class="fa fa-graduation-cap"><b>Begin Date</b></h3>
                    <input type="date" name="booking[start_date]" class="form-control" placeholder="mm/dd/yyyy"/>


                    <div class="form-group">
                      <label class="col-md-4 control-label" for="selectbasic">Start Time</label>

                        <select class="form-control" name="booking_filters[start_hour]" class="time-input">
                          <% Booking.hour_intervals.each_with_index do |start_hour, index| %>
                          <option value="<%= start_hour %>"><%= start_hour %></option>
                          <% end %>
                        </select>
                        <select class="form-control" name="booking_filters[start_minute]" id="time-input">
                          <% Booking.minute_intervals.each_with_index do |start_minute, index| %>
                          <option value="<%= start_minute %>"><%= start_minute %></option>
                          <% end %>
                        </select>
                        <select class="form-control" name="booking_filters[start_ampm]" id="time-input">
                          <% Booking.ampm_intervals.each_with_index do |start_ampm, index| %>
                          <option value="<%= start_ampm %>"><%= start_ampm %></option>
                          <% end %>
                        </select>

                   </div><br> 
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">End Time</label>
     
                          <select id="selectbasic" class="form-control " name="booking_filters[end_hour]">
                            <% Booking.hour_intervals.each_with_index do |end_hour, index| %>
                            <option value="<%= end_hour %>"><%= end_hour %></option>
                            <% end %>
                          </select>
                          <select id="selectbasic" class="form-control" name="booking_filters[end_minute]" id="space-bedroom-count">
                            <% Booking.minute_intervals.each_with_index do |end_minute, index| %>
                            <option value="<%= end_minute %>"><%= end_minute %></option>
                            <% end %>
                          </select>
                          <select class="form-control" name="booking_filters[end_ampm]" id="space-bedroom-count">
                            <% Booking.ampm_intervals.each_with_index do |end_ampm, index| %>
                            <option value="<%= end_ampm %>"><%= end_ampm %></option>
                            <% end %>
                          </select>



                     </div>

                        <input type="hidden" name="booking[space_id]" value="<%= @space.token %>">
                        <div class="hpadding20">
                          <button type="submit" class="booknow margtop20 btnmarg" id="space-show-sidebar-book-button">Reserve</button>
                        </div>
                      </form>

                    </div><!--//item-->
                    <div class="item">
                      <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Computer Science</h3>
                      <h4 class="university">University of Bristol <span class="year">(2008-2011)</span></h4>
                    </div><!--//item-->
                  </div><!--//content-->
                </div><!--//section-inner-->
              </aside><!--//section-->

              
            </div><!--//secondary-->    
          </div><!--//row-->
        </div><!--//masonry-->

        <!-- ******FOOTER****** --> 
        <footer class="footer">
          <div class="container text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">3rd Wave Media</a> for developers</small>
          </div><!--//container-->
        </footer><!--//footer-->

      </body> 

