<%= form_for @order do |f| %>

  <%#= f.error_messages %>
  <% if @order.express_token.blank? %>
    <p>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :card_type %><br />
      <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
    </p>
    <p>
      <%= f.label :card_number %><br />
      <%= f.text_field :card_number %>
    </p>
    <p>
      <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
      <%= f.text_field :card_verification %>
    </p>
    <p>
      <%= f.label :card_expires_on %><br />
      <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
    </p>
  <% else %>

      <!-- RIGHT CONTENT -->
      <div class="col-md-4" >
        
        <div class="pagecontainer2 paymentbox grey">
          <div class="padding20">
            <span class="size24 dark bold caps">Details</span>
          </div>
          <div class="line3"></div>
          
          <div class="hpadding30 margtop30">
          
          
          <span class="dark"> <h3 class="panel-title"><%=h @space.title %></h3></span>
          <div class="fdash mt10"></div><br/>

      <%= f.hidden_field :express_token %>
   <span class="grey2">Name:</span> <%=h @order.first_name %> <%=h @order.last_name %><br/>
   <span class="grey2">Address:</span> <%=h @space.address %><br/>
   <span class="grey2">City:</span> <%=h @space.city %><br/>
   <span class="grey2">Country:</span> <%=h @space.country %><br/>
     <% end %>
          
          <br/>
          <br/>

          
          
          </div>  
          <div class="line3"></div>
          <div class="padding30">         
            <span class="left size14 dark">Total:</span>
            <span class="right lred2 bold size18">
              <%=h number_to_currency(@current_booking.total) %><br/><br/>
            </span>

              <p><%= f.submit "Complete Order", :class => 'btn btn-lg btn-success btn-block' %></p>
              <br>
<%= link_to 'Back', orders_path %>
            <div class="clearfix"></div>
          </div>


        </div><br/>
        
      
      </div>

      <% end %>
      <!-- END OF RIGHT CONTENT -->