<table id="rounded-corner" summary="2007 Major IT Companies' Profit">
    <thead>
      <tr>
          <th scope="col" class="rounded-company">Summary</th>
            <th scope="col" class="rounded-q4"></th>
        </tr>
    </thead>
        <tfoot>
      <tr>
          <td class="rounded-foot-left"></td>
          <td class="rounded-foot-right"></td>
        </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Knack</td>
        <td><%= @space.title %></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%= @booking.start_date %></td>
      </tr>
      <tr>
      <tr>
        <td>Start Time</td>
        <td><%= Time.at(@booking.start_time).utc.strftime("%I:%M%p") %></td>
      </tr>
      <tr>
        <td>End Time</td>
        <td><%= Time.at(@booking.end_time).utc.strftime("%I:%M%p") %></td>
      </tr>
      <tr>
      <tr>
        <td>Total Time</td>
        <td><%= (@booking.end_time - @booking.start_time)/3600 %> Hour</td>
      </tr>
      <tr>
        <td>Booking Rate</td>
        <td>$<%= monetize(@space.booking_rate_daily) %></td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td>$<%= monetize(@booking.subtotal) %></td>
      </tr>
      <tr>
        <td>Service Fee</td>
        <td>$<%= monetize(@booking.service_fee) %></td>
      </tr>
      <tr>
        <td>Total</td>
        <td>$<%= monetize(@booking.total) %></td>
      </tr>
    </tbody>
</table>
