<div class="container-fluid1">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Location</a></li>
          </ul>


    <%= render "spaces/index/map" %>

          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Language</a></li>
          </ul>
            <ul class="list-group checked-list-box">
      <%= checkbox_group collection: Space.languages_list,
                         ul_class:   "checkbox-li",
                         html_name:  "space_filters[languages]" %>
                </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Price</a></li>
          </ul>
                <div class="price-range-wrapper group">
                  <%= tag "input", type: "number",
                  placeholder: "Price min",
                         name: "space_filters[booking_rate_min]",
                        class: "number-input input-small sidebar-half-width" %>
                          <p>-</p>
        <%= tag "input", type: "number",
                  placeholder: "Price max",
                         name: "space_filters[booking_rate_max]",
                        class: "number-input input-small sidebar-half-width" %>
</div>
                    <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Distance</a></li>
          </ul>
              <select type="text" name="space_filters[distance]" id="space-bedroom-count">
      <% Space.distance_intervals.each_with_index do |distance, index| %>
        <option value="<%= distance %>"><%= distance %></option>
      <% end %>
          </select><br>
                  <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Dates</a></li>
          </ul>
      <h5>Check in</h5><br>
      <%= tag "input", type: "date",
                placeholder: "Check in",
                       name: "space_filters[start_date]",
                      class: "date-input input-small sidebar-full-width" %>

      <h5>Check out</h5><br>
      <%= tag "input", type: "date",
                placeholder: "Check out",
                       name: "space_filters[end_date]",
                      class: "date-input input-small sidebar-full-width" %>
    </div>
          </ul>
            <input type="submit" class="button blue" value="Filter" id="space-index-sidebar-filter-button">

      </div>
    </div>
</form>