<li class="group list-item">

  <a href=<%= space_url(space.id) %> class="space-image-wrapper">
    <%= image_tag(space.photo_medium, class: "space-image space-image-small") %>
  </a>

  <!--%= link_to image_tag(space.owner_photo.url_small, class: "host-image user-image-thumb"), user_url(space.owner_id), method: :get %-->

  <header>
    <h3>
      <%= link_to space.title, space, method: :get%>
    </h3>
    <h4 class="light-gray">
      <%= space.city %>
    </h4>
  </header>

  <div class="price-wrapper">
    <div class="price-data dark-gray right">
      <sup class="left">$</sup>
      <%= space.booking_rate_daily %>
    </div>
    <div class="light-gray">per night</div>
</br></br>
  <% if logged_in? && current_user == @user %>    
  <%= link_to "Edit this Knack"%>
</br></br>
  <%= link_to "Delete this Knack", space, confirm:"Are you sure you want to delete this knack?",method: :delete%>
  <% end %>  
  </div>
</li>